<div class="wrapper" style="margin-top: 15%; margin-bottom: 5%;">
    <form class="form-signin" action="/recover" method="post">
        <h2 class="form-signin-heading">Recover password</h2>
         <label for="email" class="form-label">E-Mail</label>
        <input type="email" placeholder="Insert E-Mail" class="form-control mb-3" id="email" name="email" required>
        <label for="answer" class="form-label">What or who is the most important thing or person in your Life?</label>
        <input type="text" placeholder="Insert Answer" class="form-control mb-3" id="answer" name="answer" required>
        {{#if errMsg}}
        <p style="color: red">Wrong e-mail or answer provided, please try again</p>
        {{/if}}
        <label class="form-label" for="password0">New password</label>
        <input class="form-control" id="password0" name="password0" type="password" onchange='check_pass();' required>

        <label class="form-label" for="password1">Repeat new password</label>
        <input class="form-control" id="password1" name="password1" type="password" onchange='check_pass();' required>
        <div id="message"></div>

        <button class="btn btn-lg btn-danger btn-block" type="submit" id="submit" style="margin-top: 3%;" disabled>Submit</button>
    </form>
</div>
